.main {
    position: relative;
    padding-right: 120px;
    padding-bottom: 96px;
    padding-left: 120px;
    background-color: #FFF;
}

.main-articlepage {
    display: grid;
    grid-template-columns: 690px 1fr;
    column-gap: min(228px, calc(228 / 1440 * 100vw));
    padding-bottom: 48px;
}

.main-articlepage__gradient {
    position: absolute;
    top: 50%;
    right: 0;
}

.column-first {
    grid-column: 1;
    z-index: 1;
}

.column-second {
    grid-column: 2;
    z-index: 1;
}

.hero {
    min-height: 300px;
}

.hero__header {
    padding-top: 16px;
    padding-bottom: 24px;
}

.hero__title {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 32px;
}

.hero__title.articlepage-title {
    margin-top: 54px;
    margin-bottom: 16px;
}

.article-author {
    font-size: 12px;
    color: #494949;
    margin: 0;
}

.article-author.articlepage-author {
    font-size: 14px;
}

.article-author-link {
    color: #333;
    text-decoration: none;
}

.article-author-link:hover {
    text-decoration: underline;
}

.hero__article-img {
    background-image: url("../images/png/article-img-full.png");
    width: 100%;
    min-height: 331px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog {
    min-height: 300px;
}

.blog__font-properties {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.blog__header {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 16px;
}

.blog__content {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog__content li {
    list-style: none;
}

.blog__content ul {
    padding-left: 24px;
}

.blog__content > ul {
    padding-left: 32px;
}

.blog__content-link {
    color: #333;
}

.blog__h3-header {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 24px;
}

.blog__blockquote {
    position: relative;
    background-color: #F3F7FE;
    width: 100%;
    min-height: 162px;
    margin: 40px 0 24px;
    padding: 34px 24px 24px;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: "Montserrat Italic", sans-serif;
}

.blog__blockquote-author {
    margin-top: 8px;
    font-family: "Montserrat Bold", sans-serif;
}

.blog__blockquote-bg {
    position: absolute;
    top: 24px;
    left: 24px;
}

.blog__ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 32px;
    margin-bottom: 24px;
    list-style: none;
}

.blog__ul li::before {
    content: "\2022";
    color: #03B2A5;
    position: absolute;
    left: 10px;
    transform: scale(3.5,3.5) translateY(-1.5px);
}

.blog__article-img1 {
    background-image: url("../images/png/article-img1.png");
    width: 100%;
    min-height: 331px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog__article-img1-subtext {
    font-size: 12px;
    color: #868686;
}

.blog__blockquote-spot {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 168px;
    margin: 24px 0 24px;
}

.blog__blockquote-spot-text {
    max-width: 485px;
    text-align: center;
    font-family: "Montserrat Italic", sans-serif;
    z-index: 1;
}

.blog__blockquote-spot-vector {
    position: absolute;
}

.blog__article-columns {
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 24px;
}

.blog__article-columns p {
    margin: 0;
}

.blog__article-img2 {
    background-image: url("../images/png/article-img2.png");
    width: 100%;
    min-height: 380px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog__article-columns-text {
    display: flex;
    flex-direction: column;
}

.column-second {
    grid-column: 2;
    z-index: 1;
}

.blog__exercise {
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
}

.blog__exercise p {
    margin-bottom: 0;
}

.blog__exercise-header {
    font-weight: bold;
    margin: 0;
}

.ex-yellow {
    background-color: #FEFAEC;
}

.blog__article-img3 {
    background-image: url("../images/png/article-img3.png");
    width: 100%;
    min-height: 174px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ex-red {
    background-color: #FFF3EB;
}

.ex-yellow {
    background-color: #FEFAEC;
}

.columns-evenly {
    grid-template-columns: 1fr;
}

.blog__divider {
    max-width: 179px;
    margin: 24px auto;
}

.ex-blue {
    background-color: rgba(3, 178, 165, 0.1);;
}

.blog__article-img4 {
    background-image: url("../images/png/article-img4.png");
    width: 100%;
    min-height: 235px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog__article-img5 {
    background-image: url("../images/png/article-img5.png");
    width: 100%;
    min-height: 235px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog__tag {
    font-size: 14px;
    color: #2963A3;
    text-decoration: none;
    white-space: nowrap;
}

.blog__tag:hover {
    text-decoration: underline;
}

.blog__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 88px;
}

.aside__card-primary1 {
    padding: 24px;
    background-color: #E6F0FD;
    border-radius: 16px;
}

.aside__card-width {
    width: 282px;
    box-sizing: border-box;
}

.aside__card1-img {
    background-image: url("../images/png/aside-card-primary1.png");
    width: 100%;
    min-height: 206px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.aside__card2-img {
    background-image: url("../images/png/aside-card-primary2.png");
    width: 120px;
    height: 120px;
    margin: 8px auto;
}

.aside__card3-img {
    background-image: url("../images/png/aside-card-secondary1.png");
    min-height: 292px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}

.aside__card2-tag {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
    border-radius: 6px;
    padding: 3px 6px;
    color: #333;
    background-color: rgba(243, 244, 248, 0.7);
    text-decoration: none;
    white-space: nowrap;
}

.aside__card2-tag:hover {
    background: #F9FDFD;
    border: 2px solid #16C8BB;
    box-sizing: border-box;
    padding: 1px 4px;
    transition: background .2s;
}

.aside__card2-tags {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.aside__card-btn {
    width: 100%;
    min-height: 48px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background: #35B3A9;
    color: #FFF;
    cursor: pointer;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 16px;
    align-self: center;
}

.aside__card-buy-bg1 {
    position: absolute;
    background-image: url("../images/png/aside-card-secondary2-bg1.png");
    width: 112px;
    height: 85px;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 16px;
}

.aside__card-buy-bg2 {
    position: absolute;
    background-image: url("../images/png/aside-card-secondary2-bg2.png");
    width: 88px;
    height: 72px;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 16px;
}

.aside__card-buy-btn {
    width: 108px;
    min-height: 48px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background: #35B3A9;
    color: #FFF;
    cursor: pointer;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 16px;
    z-index: 1;
}

.aside__card-buy-price {
    margin: 0 0 16px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 24px;
}

.aside__card-buy-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0 22px 16px 0;
}

.aside__card-buy-title {
    color: #2963A3;
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 18px;
}

.aside__card-experience {
    font-weight: 500;
    font-size: 14px;
    color: #A2A7B1;
    text-align: center;
    margin: 4px 0 0;
    padding-bottom: 16px;
    box-shadow: 0px 1px 0px #DEDEDE;
}

.aside__card-h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}

.aside__card-h2 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.aside__card-primary1 {
    padding: 24px;
    background-color: #E6F0FD;
    border-radius: 16px;
}

.aside__card-primary2 {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 36px;
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    box-shadow: 0px 30px 50px #EFF5FB;
}

.aside__card-primary2 .blog__ul {
    gap: 8px;
    margin-bottom: 16px;
}

.aside__card-secondary2 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    box-shadow: 0px 30px 50px #EFF5FB;
}

.aside__card-text {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding-bottom: 24px;
}

.aside__card-title {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 24px 16px 8px;
}

.aside__card-title-secondary {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 16px 0 8px;
}

.aside__card-width {
    width: 282px;
    box-sizing: border-box;
}

@media (max-width: 1419px) {
    .main-articlepage {
        grid-template-columns: 714px 1fr;
        column-gap: calc(100vw - 714px - 240px - 282px);
    }
}

@media (max-width: 1299px) {
    .main {
        padding-right: 32px;
        padding-bottom: 59px;
        padding-left: 32px;
    }

    .main-articlepage {
        grid-template-columns: 714px 1fr;
        column-gap: calc(100vw - 714px - 64px - 282px);
    }
}

@media (max-width: 1083px) {
    .aside__card-primary1 {
        padding: 24px 20px;
    }
    
    .aside__card-primary2 {
        padding: 24px;
    }
    
    .aside__card-secondary2 {
        padding: 24px;
    }

    .aside__card-width {
        width: 222px;
    }

    .aside__card1-img {
        min-height: 145px;
    }

    .main-articlepage {
        column-gap: calc(100vw - 714px - 64px - 222px);
    }
}

@media (max-width: 1007px) {
    .aside {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
        gap: 16px;
        justify-items: center;
    }

    .aside__card-width {
        width: 356px;
    }

    .aside.column-second {
        grid-column: 1;
    }

    .main {
        padding-right: 20px;
        padding-bottom: 24px;
        padding-left: 20px;
    }

    .main-articlepage {
        grid-template-columns: repeat(auto-fill, minmax(728px, 1fr));
    }
}

@media (max-width: 763px) {
    .aside {
        grid-template-columns: repeat(auto-fill, minmax(374px, 1fr));
        gap: 24px;
    }

    .aside__card-width {
        width: 374px;
    }

    .column-second {
        grid-column: 1;
    }

    .columns-evenly {
        grid-template-columns: 1fr;
    }
    
    .blog__article-columns {
        grid-template-columns: 1fr;
    }

    .main-articlepage {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 414px) {
    .aside {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .aside__card-width {
        width: 288px;
    }
        
    .main {
        padding-right: 16px;
        padding-bottom: 20px;
        padding-left: 16px;
    }
}