@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
            url("fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium"),
            url("fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: local("Montserrat SemiBold"),
            url("fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat Bold"),
            url("fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Italic";
    src: local("Montserrat Italic"),
            url("fonts/Montserrat-Italic.woff2") format("woff2");
}