.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.header__navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    
    padding-left: 51px;
}

.header__navigation-item {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
}

.header__button {
    cursor: pointer;
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    border-radius: 4px;
    background: #E3F5F5;
    border-style: none;

    color: #03B2A5;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__burger-button {
    display: none;
    cursor: pointer;
}

.main__breadcrumbs-nav a {
    
    text-decoration: none;
    cursor: pointer;
}

.main__breadcrumbs-nav a,
.main__breadcrumbs-nav span {
    color: rgba(51, 51, 51, 0.70);
    font-family: Montserrat;
    font-size: 12px;
}

.main h1 {
    color: #333;
    font-family: Montserrat;
}

.main__articles {
    display: grid;
}

.main__filters {
    display: flex;
    justify-content: flex-start;
    gap: 8px;

    min-width: 100%;
    min-height: 20px;
    overflow-y: auto;

    margin-bottom: 23px;
}

.main__filters::-webkit-scrollbar {
  display: none;
}

.main__filters-item {
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.main__article {
    border: 1px solid gray;
    border-radius: 10px;
}

.main__button-else-wrapper {
    width: 100px;
    margin: 0 auto;
}

.main__button-else {
    cursor: pointer;
}

.footer {
    background-color: #2963A3;
}

.footer__top {
    display: grid;    
}

.footer__top-block1,
.footer__top-block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer__top-block1-item,
.footer__top-block2-item {
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.footer__top-block3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.footer__top-block3 h3 {
    margin: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 356px;
}

.email-wrapper {
    display: flex;
    position: relative;
    width: 60%;
}

.email-wrapper input {
    width: 100%;
    height: 48px;

    padding-top: 0;
    padding-bottom: 0;

    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
}

.email-wrapper input::placeholder {
    color: var(--text-secondary, #9D9D9D);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.email-wrapper button {
    position: absolute;
    left: 80%;
    top: 0;

    display: inline-flex;
    height: 50px;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 4px;
    border-style: none;
    background: #16C8BB;
}

.footer__top-block3 p {
    width: 80%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.footer__top-block4 div {
    margin-bottom: 40px;
}

.footer__top-block4 a {
    margin-right: 16px;
}

.footer__bottom {
    border-top: 1px solid rgba(157, 157, 157, 0.3);
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
    padding: 16px 0;
}

.footer__bottom-item {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
}

.footer__bottom-item a {
    text-decoration: none;
    cursor: pointer;

    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
}

/* iphone se */
@media (max-width: 320px) {
    .header,
    .main,
    .footer {
        padding: 0 16px;
    }

    .main__breadcrumbs-nav {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .main h1 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .main__articles {
        grid-template-columns: 1fr;
    }

    .footer {
        padding-top: 35px;
    }

    .footer__top {
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__top-block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .footer__top-block2 {
        grid-column: 2;
        grid-row: 1;
    }

    .footer__top-block3 {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .footer__top-block4 {
        grid-column: 1;
        grid-row: 3;
    }

    .email-wrapper button {
        display: none;
    }

    .footer__bottom {
        flex-direction: column;
    }
}

/* iphone 11 pro max */
@media (min-width: 321px) and (max-width: 414px) {
    .header,
    .main,
    .footer {
        padding: 0 20px;
    }

    .main__breadcrumbs-nav {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .main h1 {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .main__articles {
        grid-template-columns: 1fr;
    }

    .footer {
        padding-top: 35px;
    }

    .footer__top {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__top-block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .footer__top-block2 {
        grid-column: 2;
        grid-row: 1;
    }

    .footer__top-block3 {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .footer__top-block4 {
        grid-column: 1;
        grid-row: 3;
    }

    .footer__bottom {
        flex-direction: column;
    }
}

/* ipad mini */
@media (min-width: 415px) and (max-width: 768px) {
    .header,
    .main,
    .footer {
        padding: 0 20px;
    }

    .header__navigation {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger-button {
        display: block;
    }

    .main h1 {
        font-size: 48px;
        margin-bottom: 32px;
    }

    .main__articles {
        grid-template-columns: 1fr;
    }

    .main__breadcrumbs-nav {
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .footer {
        padding-top: 35px;
    }

    .footer__top {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer__top-block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .footer__top-block2 {
        grid-column: 2;
        grid-row: 1;
    }

    .footer__top-block3 {
        grid-column: 3 / 6;
        grid-row: 1;
    }

    .footer__top-block4 {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .footer__bottom {
        flex-direction: row;
    }
}

/* ipad pro 12.9 */
@media (min-width: 769px) and (max-width: 1024px) {
    .header,
    .main,
    .footer {
        padding: 0 32px;
    }

    .header__navigation {
        padding-left: 32px;
    }

    .main__breadcrumbs-nav {
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .main h1 {
        font-size: 48px;
        margin-bottom: 32px;
    }

    .main__articles {
        gap: 24px;
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .article1 {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    
    .article2 {
        grid-column: 4 / 7;
        grid-row: 1;
    }
    
    .article3 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    
    .article4 {
        grid-column: 3 / 5;
        grid-row: 2;
    }
    
    .article5 {
        grid-column: 5 / 7;
        grid-row: 2;
    }
    
    .article6 {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    
    .article7 {
        grid-column: 3 / 5;
        grid-row: 3;
    }
    
    .article8 {
        grid-column: 5 / 7;
        grid-row: 3;
    }

    .footer {
        padding-top: 40px;
    }

    .footer__top {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
    }

    .footer__top-block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .footer__top-block2 {
        grid-column: 2;
        grid-row: 1;
    }

    .footer__top-block3 {
        grid-column: 3 / 7;
        grid-row: 1;
    }

    .footer__top-block4 {
        grid-column: 7 / 9;
        grid-row: 1;
    }

    .footer__bottom {
        flex-direction: row;
    }
}

/* desktop (width: 1440px) */
@media (min-width: 1025px) {
    .header,
    .main,
    .footer {
        padding: 0 120px;
    }

    .header__navigation {
        padding-left: 51px;
    }

    .main__breadcrumbs-nav {
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .main h1 {
        font-size: 48px;
        margin-bottom: 32px;
    }

    .main__articles {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .article1 {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    
    .article2 {
        grid-column: 4 / 7;
        grid-row: 1;
    }
    
    .article3 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    
    .article4 {
        grid-column: 3 / 5;
        grid-row: 2;
    }
    
    .article5 {
        grid-column: 5 / 7;
        grid-row: 2;
    }
    
    .article6 {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    
    .article7 {
        grid-column: 3 / 5;
        grid-row: 3;
    }
    
    .article8 {
        grid-column: 5 / 7;
        grid-row: 3;
    }

    .footer {
        padding-top: 40px;
    }

    .footer__top {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        padding-bottom: 24px;
    }

    .footer__top-block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .footer__top-block2 {
        grid-column: 2;
        grid-row: 1;
    }

    .footer__top-block3 {
        grid-column: 3 / 7;
        grid-row: 1;
    }

    .footer__top-block4 {
        grid-column: 7 / 9;
        grid-row: 1;
    }

    .footer__bottom {
        flex-direction: row;
    }
}